.fa-1x {
    font-size: 1.5rem;
}
.whiteHam{
    color: #FFFFFF;
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: #FFFFFF;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #FF66F5;
  }

.navbar a.navbar-brand {
    color: #FFFFFF;
}
.navbar a.navbar-brand:hover {
    color: #FFFFFF;
}

.navbar button.navbar-toggler{
    border: none;
    box-shadow: none;
}

.navbar-right{
    justify-content:right;
    text-align: right;
    margin-left: auto !important;
    margin-right: 1em !important;

}

.navbar{
    border-bottom: 1px solid white;
    margin-left: 2em;
    margin-right: 2em;
}

.topBox{
    justify-content: center;
    text-align: center;
}
.topBox h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.contactForm{
    
    /* border-radius: 5px; */
    padding: 15px;
    border: 1px solid #FF66F5;
    box-shadow: 0px 0px 10px #000017;
    text-align: center;
}

.contactForm input, .contact-card textarea{
    background-color: #00000000;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    padding: 5px;
    border-radius: 1px;
    width: 60%;
    transition: background-color 0.1s ease-in-out;
}
.contactForm input:hover, .contactForm input:focus, .contact-card textarea:hover, .contact-card textarea:focus{
    background-color: #ffffff23;
}

.contactForm button{
    background-color: #FF66F5;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    padding: 5px;
    width: 15%;
    transition: 0.25s ease-in-out;
}
.contactForm button:hover{
    box-shadow: 0px 0px 15px #000000;
    color: #000;
}


.contactForm ::placeholder{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.socialsBox{
    margin: 0px;
    background-color: #FF66F5;
    font-size: 3em; 
}
.socialIcon{
    color: #000;
    padding: 5px;
}
.socialIcon:visited,.socialIcon:hover,.socialIcon:active{
    color: #000;
    text-decoration:none;
}