<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<title>{{ page.title }}</title>
			{% include topImports.html%}
		</head>
		<body style= "background-color: #0E0A48">
			{% include navbar.html %}
			<br>
			<div class = "container-fluid topBox">
				<div class = "row">
					<div class = "col">
							<h1>Contact Me</h1>
					</div>
				</div>
			</div>
			<div class="container">
			
				{{ content }}
			
			</div>
			{% include footer.html %}
			{% include bottomImports.html%}
		</body>
	</html>